<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
     <ion-button (click)="presentPopover($event)">
      <!-- <ion-icon name="user" slot="icon-only"></ion-icon> -->
      <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
     </ion-button>
     <ion-button>
      <!-- <ion-icon name="user" slot="icon-only"></ion-icon> -->
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
     </ion-button>
    </ion-buttons >
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>   
    </ion-buttons >
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-card-content>
            <h1>Welcome to Web Digitisation of Banihal-Baramulla Section of USBRL</h1>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
        <ion-card-content>
          <a>Physical Progress</a>
        <!--   <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>!-->
               <div class="">
                    <br />
                    <section class="example-section">
                      <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
                    </section>
                    <br />
                    <div class="">Total RKMS:271 </div>
                  </div>
                
        </ion-card-content> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      <ion-card>
        <ion-card-content>
          <a>Physical Progress</a>
        <!--   <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>!-->
               <div class="">
                    <br />
                    <section class="example-section">
                      <ion-progress-bar color="danger" value="0.5"></ion-progress-bar>
                    </section>
                    <br />
                    <div class="">Total Value:Crores </div>
                  </div>
                
        </ion-card-content> 
      </ion-card>
      </ion-col>
    </ion-row>
     
     <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      <ion-card >
        <ion-card-content>
          <a>Project Overview</a>
        <!--   <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>!-->
               <div class="">
                    <br />
                    <section class="example-section">
                      <!-- <ion-progress-bar color="primary" value="0.5"></ion-progress-bar> -->
                    </section>
                    <br />
                    <div class=""> </div>
                  </div>
                
        </ion-card-content> 
      </ion-card>
      <ion-button (click)="presentPopover($event)">HEY</ion-button>
      </ion-col>
     </ion-row>
 
  </ion-grid>
  
</ion-content> 
