<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popup-setting</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item (click)="closePopup()" routerLink="../pages/users/user-listing">User</ion-item>
    <ion-item>User</ion-item>
    <ion-item>User</ion-item>
    <ion-item>User</ion-item>
    <ion-item>User</ion-item>
  </ion-list>

</ion-content>
