.ion-justify-content-start	{
    justify-content: flex-start;
}
.ion-justify-content-end {display: flex;
    justify-content: flex-end;
}
.ion-nowrap{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    // &::-webkit-scrollbar {
    //    display: none;
    // }
    //  .scroll-item {
    //    flex: 0 0 auto;}
}
.leftPad{
    padding-top: 10px;
    margin-left: 0px;
}
.rightPad{
    // padding-top: 10px;
    margin-right: -20px;
}