<ion-header>
  <ion-toolbar>
    <ion-title>user-listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content >
      <ion-grid>
        <ion-row>
          <ion-col class="leftPad"><h1>Users</h1></ion-col>
          <ion-col class="rightPad">
            <ion-button routerLink="./add-user"
              float-right color="primary">Add User</ion-button>
            </ion-col>
        </ion-row>
        <hr >
        <ion-row class="ion-nowrap">
          <ion-col><h1>Name</h1></ion-col>
          <ion-col><h1>Email</h1></ion-col>
          <ion-col><h1>Gender</h1></ion-col>
          <ion-col><h1>Phone</h1></ion-col>
          <ion-col><h1>Designation</h1></ion-col>
          <ion-col><h1>Address</h1></ion-col>
          <ion-col><h1>Actions</h1></ion-col>
        </ion-row>
      </ion-grid>     
    </ion-card-content>

  </ion-card>
</ion-content>


<!-- <app-nav-top></app-nav-top> -->