<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video autoplay muted loop #videoPlayer class="myVideo">
    <source src="assets/video/back-video.mp4" type="video/mp4">
  </video>
  
  <div class="content h-100">
    <h4 class="text-center text-white">{{siteName}}</h4>
    <div class="d-flex justify-content-center h-100">
      <div class="user_card {{loginError ? 'h-450' : ''}}">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="../assets/images/logo.png" class="brand_logo" alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form #loginForm="ngForm">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="user_name" class="form-control input_user {{username.invalid && (username.dirty || username.touched || loginForm.submitted) ? 'input-border-error':''}}" required placeholder="Username"
                     [(ngModel)]="loginModel.username" #username="ngModel" autocomplete="off" (ngModelChange)="modelChanged()">
            </div>
            <div *ngIf="username.invalid && (username.dirty || username.touched || loginForm.submitted)" class="alert alert-danger m-t-15">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
            </div>
  
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="user_password" class="form-control input_pass {{password.invalid && (password.dirty || password.touched || loginForm.submitted) ? 'input-border-error':''}}" required placeholder="Password"
                     [(ngModel)]="loginModel.password" #password="ngModel" autocomplete="off" (ngModelChange)="modelChanged()">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched || loginForm.submitted)" class="alert alert-danger m-t-8">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember me</label>
              </div>
            </div>
          </form>
        </div>
        <div class="alert alert-danger login-error" *ngIf="loginError">
          {{loginError}}
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
          <button type="submit" name="button" value="submit" class="btn login_btn" (click)="login()" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            <a routerLink="/auth/forgot-password">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
