<ion-header>
  <ion-toolbar>
    <ion-title>add-user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-nav-top></app-nav-top> -->

<div class="row h-100">
  <div class="col-md-2 col-sm-4 ">
    <!-- <app-nav-side></app-nav-side> -->
  </div>
  <div class="col-md-10 col-sm-8 main-content p-r-25">
    <div class="row">
      <div class="col-md-12">
        <mat-toolbar color="primary">
          <div class="col-md-8">
            <h5>{{operation}} User</h5>
          </div>
          <div class="col-md-4">
            <button mat-raised-button color="accent" class="float-right"
          
              >Back</button>
          </div>
        </mat-toolbar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-body">
            <form name="form" [formGroup]="form">
              <input type="hidden" formControlName="id" />
              <div class="form-row">
                <span class="col-md-3 mt-3">Name</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Name is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Email</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error> Please enter a valid email address!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Gender</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option *ngFor="let gender of genders" [value]="gender.id">
                        {{gender.value}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Gender is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Phone</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" required>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Phone is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Role</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roleIds" [multiple]="true" #multiSelect required>
                      <!-- <ngx-mat-select-search [placeholderLabel]="'Find Role...'" [noEntriesFoundLabel]="'no matching role found'" [formControl]="roleMultiFilterCtrl"></ngx-mat-select-search> -->
                      <mat-option *ngFor="let role of filteredRolesMulti | async" [value]="role.id">
                        {{role.name}}
                      </mat-option>
                    </mat-select>

                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Role is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--Contractors-->
              <div class="form-row">
                <span class="col-md-3 mt-3">Contractor</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Contractor</mat-label>
                    <mat-select formControlName="contractorIds" [multiple]="true" #multiSelect required>
                      <!-- <ngx-mat-select-search [placeholderLabel]="'Find Contractor...'" [noEntriesFoundLabel]="'no matching contractor found'" [formControl]="contractorMultiFilterCtrl"></ngx-mat-select-search> -->
                      <mat-option *ngFor="let contractor of filteredContractorsMulti | async" [value]="contractor.id">
                        {{contractor.name}}
                      </mat-option>
                    </mat-select>

                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Contractor is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-row">
                <span class="col-md-3 mt-3">Department</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="departmentIds" [multiple]="true" #multiSelect required>
                      <!-- <ngx-mat-select-search [placeholderLabel]="'Find Department...'" [noEntriesFoundLabel]="'no matching department found'" [formControl]="departmentMultiFilterCtrl"></ngx-mat-select-search> -->
                      <mat-option *ngFor="let dep of filteredDepartmentMulti | async" [value]="dep.id">
                        {{dep.name}}
                      </mat-option>
                    </mat-select>

                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Role is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Designation</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Designation</mat-label>
                    <input matInput formControlName="designation" required>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Designation is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <span class="col-md-3 mt-3">Address</span>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" required rows="6"></textarea>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                    <mat-error>Address is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="mt-5">
                <button mat-raised-button class="add-button mat-accent" (click)="onSave()" aria-label="add" [disabled]="form.invalid">
                  <span>Save</span>
                </button>&nbsp;
                <button mat-raised-button class="add-button mat-accent" (click)="onCancel()" aria-label="cancel">
                  <span>Cancel</span>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</ion-content>
